html, body {
	margin:0;
	padding:0;
	background-color:white;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.header {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 5px 10px;
  	overflow-y: auto;
  	top:0; /* this is resp for setting where it starts from the top*/
  	left:0; /* this is resp for setting where it starts from the left*/
  	width:100%;
  	z-index:1;
  	position:fixed;
}

.navbar li {
	display:inline;
	text-align:center;
	top:0;
	z-index:10000;
	font-family: 'Inconsolata', monospace;
	color:white;
	padding-right:50px;
	padding-left:50px;
	text-transform: uppercase;
	font-weight:bold;
	letter-spacing: .05em;
}


#cover {
	background:url("pineapple.jpg") no-repeat center center fixed;
	background-size:cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	height:1000px;
	width:100%;
	top:0;
	left:0;
	box-shadow: 20px 4px 8px 10px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19);
	
 ; 
}

.cover-content {
	margin: 0 auto;
	color: white;
	text-align:center;
	padding-top:150px;
	padding-left:700px;
	font-family:'Bubbler One', sans-serif;
	font-size:50px;
	text-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 4px;
}

.offers {
	background-color:#F5F1F0
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom:0px;
	padding-bottom:150px;
	
	}


#treatments {
	font-family: 'Inconsolata', monospace;
	padding-top:50px;
	font-size:20px;
	color:black;
	text-align:center;
	text-transform: uppercase;
	padding-bottom:30px;

}

.ouroptions {
	display:inline-block;
	list-style: none;
	padding-right:40px;
}


#first {
	border-radius:50px 50px 50px 50px;
	box-shadow: 5px 1px 6px 5px rgba(0, 0, 0, 0.12), 3px 1px 4px 3px rgba(0, 0, 0, 0.24);
	/*margin-left: 100px*/
}

#second {
	border-radius:50px 50px 50px 50px;
	box-shadow: 5px 1px 6px 5px rgba(0, 0, 0, 0.12), 3px 1px 4px 3px rgba(0, 0, 0, 0.24);
/*	margin-left:400px;*/
}

#massages {
	display:none;
	list-style:none;
	text-align:center;
	font-family: 'Inconsolata', monospace;
	font-weight:bold;

}

#facials {
	display:none;
	list-style:none;
	text-align:center;
	font-family: 'Inconsolata', monospace;
	font-weight:bold;

}

.footer {
	padding: 10px 10px;
  	width:100%;
  	font-family: 'Inconsolata', monospace; 
  	background:-webkit-linear-gradient(top, #7db9e8 8%,#7db9e8 31%,#7db9e8 39%,#7db9e8 41%,#2989d8 92%);
  	right:0;
  	font:black;
  	height:30px;
  	box-shadow: 15px 4px 8px 5px rgba(0, 0, 0, 0.2), 20px 6px 20px 10px rgba(0, 0, 0, 0.19);
	height:250px;
	}

.footer-content ul{
	 margin-left: 290px;
	margin-top:50px;
}

.footer-content li{
	text-decoration:none;
	list-style-type:none;
	display:inline;
	color:white;
	text-align:center;
	padding-right:50px;
	padding-left:50px;
	
	text-transform:uppercase;
	letter-spacing: .05em;
	font-size:20px;

}

#copyright {
	padding-top:60px;
	text-align:center;
	color:white;
	font-family: 'Inconsolata', monospace; 
	font-size:20px;
	text-transform:uppercase;
	letter-spacing: .05em;

}

a:link {
	color:white;
	text-decoration: none;
}

a:hover {
	color:black;
}

a:visited {
	color:white;
}

#jobs{
	padding-left:50px;
}


