html, body {
	margin:0;
	padding:0;
}

.header {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 5px 10px;
  	overflow-y: auto;
  	top:0; /* this is resp for setting where it starts from the top*/
  	left:0; /* this is resp for setting where it starts from the left*/
  	width:100%;
  	z-index:1;
  	position:fixed;
}

.navbar li {
	display:inline;
	padding-right:50px;
	text-align:center;
	top:0;
	z-index:10000;
	font-family: 'Inconsolata', monospace;
	color:black;
}


#cover {
	background:url("pineapple.jpg") no-repeat center center fixed;
	/*position:fixed;*/
	background-size:cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	height:700px;
	width:100%;
	top:0;
	left:0;
	
}


.cover-content {
	margin: 0 auto;
	color: white;
	font-family: 'Inconsolata';
	text-align:center;
	padding-top:200px;
	padding-left:500px;
	font-family: 'Marck Script', cursive;
	font-size:20px;
}

.offers {
}